.payment-div {
  color: rgb(24, 24, 24);
  position: absolute;
  width: 35%;
  height: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}

.choose-payment {
  display: flex;
  justify-content: center;
  top: 0;
  position: absolute;
  width: 100%;
  font-size: 1.5rem;
}

.payment-methods {
  position: absolute;
  bottom: 0;
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.swish-logo {
  max-height: 20%;
  right: 15%;
  position: absolute;
}
.payment {
  width: 100%;
  height: 33%;
  display: flex;
  align-items: center;
  font-size: 2rem;
  cursor: pointer;
}
.payment:hover {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}
.payment p {
  margin-left: 2rem;
}
.betalkort-logo {
  max-height: 10%;
  right: 25%;
  position: absolute;
}

.paypal-logo {
  max-height: 8%;
  right: 20%;
  position: absolute;
}

.swish-payment {
  display: none;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

.swish-qr {
  max-height: 40%;
}

#TextboxSwish {
  width: 60%;
  height: 3%;
}

#paymentButtonSwish {
  width: 30%;
  height: 5%;
  border-radius: 0.5rem;
  color: rgb(218, 218, 218);
  border-color: rgb(96, 198, 142);
  background-color: rgb(24, 24, 24);
}

.hidden {
  display: none;
}
.visible {
  display: unset;
}
