.payment-All{
  display: flex;
  justify-content: center;
  align-items: center;
}

.payment-div {
  color: rgb(24, 24, 24);
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}

.choose-payment {
  display: flex;
  justify-content: center;
}


.swish-logo {
  max-height: 50%;
}
.payment {
  width: 100%;
  height: 33%;
  display: flex;
  align-items: center;
  font-size: 2rem;
  cursor: pointer;
  justify-content: space-between;
}
.payment:hover {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}
.payment p {
  margin-left: 2rem;
}
.betalkort-logo {
  max-height: 40%;
}

.paypal-logo {
  max-height: 20%;
}

.swish-payment {
  display: none;
  justify-content: space-around;
  max-height: 70%;
  flex-direction: column;
  align-items: center;
}

.swish-qr {
  height: 10rem;
}

#TextboxSwish {
  width: 60%;
  height: 80%;
  z-index: 1000;
  font-size: 1.2rem;
  text-align: center;
}

#paymentButtonSwish {
  width: 30%;
  height: 5%;
  border-radius: 0.5rem;
  color: rgb(218, 218, 218);
  border-color: rgb(96, 198, 142);
  background-color: rgb(24, 24, 24);
}

.hidden {
  display: none;
}
.visible {
  display: unset;
}

.swishNumberDiv {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.swishNumberDiv > button {
  z-index: 100000;
}

#priser {
  height: auto;
  margin-bottom: 2rem;
  margin-left: 1rem;
}

#priser button {
  margin-left: 50%;
  transform: translateX(-50%);
}

.betalkortForm{
  display: flex;
  z-index: 1000;
}


.errorMessage{
  color:red;

}

.swish-logo {
  height: 5rem;
}
.betalkort-logo {
  height: 5rem;
}
.paypal-logo {
  height: 5rem;
}

@media screen and (max-width: 900px) {
  #paymentText {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 900px) {
  #paymentText {
    font-size: 1rem;
  }
  .payment p {
    font-size: 1rem;
    font-weight: bold;
    margin-left: 1rem;

  }
  .payment-div {
    width: 70%;
  }
  .swish-logo {
    height: 3rem;
  }
  .betalkort-logo {
    height: 3rem;
  }
  .paypal-logo {
    height: 2rem;
  }

}
