.productsDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
}

.productDiv{
    height: 30rem;
    width: 25rem;
}

.productImg{
    width: 20rem;
    height: 20rem;
    object-fit: contain;  
}

.productImg :hover{
    opacity: 0.5;
}

.productName{
text-align: center;
}

