.productPageTitle{
    text-transform: capitalize;
}
.productPageImg{
    height: 10rem;
    width: 10rem;
    object-fit: contain;  
}

.productPageMain{
    width: 100%;
}

@media screen and (min-width: 470px) {
    .productPageImg{
        height: 15rem;
        width: 15rem; 
    }
    .productPageMain{
        width: 50%;
    }
}

@media screen and (min-width: 980px) {
    .productPageImg{
        height: 30rem;
        width: 30rem; 
    }
    .productPageMain{
        width: 50%;
    }
}