.productsDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
}

.productImg{
    width: 10rem;
    height: 10rem;
    object-fit: contain;  
}

.nameAndPrice{
    display: flex;
    justify-content: space-between;
}

@media screen and (min-width: 460px) {
    .productImg{
        width: 15rem;
        height: 15rem;
    }

}

@media screen and (min-width: 900px) {
    .productImg{
        width: 20rem;
        height: 20rem;
    }
}